<!--  Le ? signifie non vide -->
<p>{{filmData?.length}}</p>



<!-- Formulaire -->
<div class="container">
    <div class="row">
        <div class="col">
            <!-- formulaire de recherche -->
            <form  (submit)="searchFilm()">
                <input type="text" name="title" [(ngModel)]="title">
                <input type="submit" value="Rechercher">               
                <!-- faire apparaitre l'enfant dans le parent -->
            
            </form>

        </div>
    </div>
</div>

<ul>
    <li *ngFor="let movie of filmData"><app-films-info [movie]="movie"></app-films-info></li>

</ul>
